
// Body
$body-bg: #bebebe;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #4f646f;
$indigo: #6574cd;
$purple: #b7adcf;
$pink: #f66D9b;
$red: #704f4f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
