
// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,800i&display=swap&subset=latin-ext');

// Variables
@import 'frontend_variables';

.nav {
    font-size: 1.4em;
}

.border-3 {
	border-width:3px !important;
}

.color-blue {
	color: $blue;
}

.artistic-background {
	background-image: url("/images/pattern74.svg");
	background-attachment: fixed;
	background-repeat: repeat;
}

.icon-porthole {
	height: 100px;
	width: 100px;
	@extend .mx-auto, .text-center, .rounded-circle;
	border: 4px solid #dee2e6 !important;

	svg {
		width: 65px;
		height: 65px;
		color: $blue;
		@extend .mx-auto, .h-100, .align-items-center;
	}
}

.container.custom {
	@extend .p-4;
	background-color: white;
	p {
		background-color: white;
		@extend .p-2;
	}
}

.bg-dark-transparent {
    color: rgba(248, 249, 250, 0.65) !important;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    background-color: $nav-bg;
    h5 {
        font-weight: 600;
    }
    a {
        color: $green;
    }
    a:hover {
        color: $teal;
        text-shadow: 2px 2px rgba(0, 0, 100, 0.4);
        text-decoration: none;
    }
	.dropdown-menu {
		background-color: $nav-bg;
	}
	.dropdown-divider {
		border-top-color: $green;
	}
	.dropdown-item:hover {
		background-color: $green-dark;
	}
}

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card, .btn, .form-control {
    border-radius: 0.1rem;
}

.btn {
    border-width: 2px;
}

.card-header {
    background-color: unset;
    border-bottom: none;
    padding-bottom: unset;
}

label {
    text-transform: uppercase;
    margin-bottom: unset;
}

.btn-outline-grey {
    color: #ced4da;
    border-color: #ced4da;
}

// Vue Select
@import "~vue-select/src/scss/vue-select";
